.container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: 750px;
}
.rectangle {
  display: flex;
  height: 712px;
  width: 1820px;
  left: 124px;
  top: 0px;
  border-radius: 0px;

  margin: 0% auto;
  flex-wrap: wrap;
  padding-left: 10px;
  background-color: whitesmoke;
}
.firstcontainer {
  min-width: 100%;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding-left: 40px;
}
.leftcontainer {
}
.rightcontainer {
  display: flex; /* right container display flex ( per mi drejtu icons)*/
  align-items: center;
  padding-right: 40px;
}

.navtitle {
  font-family: "Poppins", sans-serif;
}
.balancetext {
  font-family: "Poppins", sans-serif;
}

.nav1circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 0px 7px 3px -10px;
}
.loupe1 {
  width: 20px;
  height: 20px;
}
.searchicon {
  width: 20px;
  height: 20px;
}

.nav2circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 0px 7px 3px -10px;
}
.notification {
  width: 20px;
  height: 20px;
}

.profilepicture {
  border-radius: 50%;
  width: 83px;
  height: 83px;
}
.pfp {
  width: 47px;
  height: 44px;
}
ul {
  min-height: 90px;
}
li {
  display: inline-block;
  border-radius: 50%;
  justify-content: center;
}

nav {
  height: 50px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 87%;
}
h3 {
  font-family: "Poppins", sans-serif;
}

.rectangle2 {
  width: 1200px;
  margin: 0%;
  align-content: space-between;
}

.netflixbox {
  width: 401px;
  height: 71px;
  display: flex;
  padding-left: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  filter: drop-shadow(0px 1px 1px);
  flex-wrap: nowrap;
  z-index: 2;
}

.netflixlogo,
.spotifylogo,
.translogo,
.trans1logo {
  width: 43px;
  height: 43px;
  align-self: center;
}
.netflixbill,
.spotifybill,
.transbill,
.trans1bill {
  padding-top: 7px;
  padding-left: 10px;
  height: 5px;
  align-self: flex-start;
}
.bill {
  font-family: "Abel", sans-serif;
  padding-left: 10px;
}
.leftbox {
}
.rightbox {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 140px;
  display: flex;
}
.price1 {
  color: red;
  justify-content: center;
  align-self: center;
  font-family: "Abel", sans-serif;
  font-family: "Libre Franklin", sans-serif;
}

.spotifybox {
  padding-top: 20px;
  width: 401px;
  height: 71px;
  display: flex;
  padding-left: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  flex-wrap: nowrap;
}
.price2 {
  padding-left: 12px;
  color: red;
  justify-content: center;
  align-self: center;
  font-family: "Abel", sans-serif;
  font-family: "Libre Franklin", sans-serif;
}
.dates {
  font-family: "Rajdhani", sans-serif;
}
.transbox {
  padding-top: 20px;
  width: 401px;
  height: 71px;
  display: flex;
  padding-left: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  flex-wrap: nowrap;
}
.trans1box {
  padding-top: 20px;
  width: 401px;
  height: 71px;
  display: flex;
  padding-left: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  flex-wrap: nowrap;
}
.price3 {
  color: rgb(0, 230, 31);
  justify-content: center;
  align-self: center;
  font-family: "Abel", sans-serif;
  font-family: "Libre Franklin", sans-serif;
}
.transbox2 {
  padding-top: 10px;
  width: 401px;
  height: 71px;
  display: flex;
  padding-left: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  flex-wrap: nowrap;
}
.status {
  padding-left: 10px;
}
.price4 {
  padding-left: 30px;
  color: red;
  justify-content: center;
  align-self: center;
  font-family: "Abel", sans-serif;
  font-family: "Libre Franklin", sans-serif;
}
.rightrectangle {
  display: flex;
}
.bluebox {
  padding-top: 18.72px;
  background-color: whitesmoke;
  height: 712px;
  width: 600px;
}

.accountbalance {
  width: 488px;
  height: 154px;
  background-color: rgb(56, 56, 255);
  border-radius: 16px;
  padding-left: 42px;
  padding-top: 26px;
  margin: 0% 0% 0% auto;
}
.leftside {
  width: 50%;
  height: 90px;
}
.accounttext {
  display: flex;
  justify-content: space-between;
  font-family: "Abel", sans-serif;
  font-family: "Libre Franklin", sans-serif;
  color: white;
  height: 40px;
}
.accountmoney {
  font-size: 30px;
  font-family: "Abel", sans-serif;
  font-family: "Libre Franklin", sans-serif;
  color: white;
  font-weight: 700;
}
a {
  color: white;
  /* background-color: white; */
  border: white;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 200;
}
.rightside {
}

.arrowsforbalance{

}
